/*.asd {*/
/*text-emphasis: #0c0707;*/
/*text-align: center;*/
/*}*/

@media screen and (max-width : 768px) {
	@-webkit-keyframes loader {
		0%, 100% {
			-webkit-box-shadow : 0em -2.6em 0em 0em #bd0017, 1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2), 2.5em 0em 0 0em rgba(189, 0, 23, 0.2), 1.75em 1.75em 0 0em rgba(189, 0, 23, 0.2), 0em 2.5em 0 0em rgba(189, 0, 23, 0.2), -1.8em 1.8em 0 0em rgba(189, 0, 23, 0.2), -2.6em 0em 0 0em rgba(189, 0, 23, 0.5), -1.8em -1.8em 0 0em rgba(189, 0, 23, 0.7);
			box-shadow         : 0em -2.6em 0em 0em #bd0017, 1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2), 2.5em 0em 0 0em rgba(189, 0, 23, 0.2), 1.75em 1.75em 0 0em rgba(189, 0, 23, 0.2), 0em 2.5em 0 0em rgba(189, 0, 23, 0.2), -1.8em 1.8em 0 0em rgba(189, 0, 23, 0.2), -2.6em 0em 0 0em rgba(189, 0, 23, 0.5), -1.8em -1.8em 0 0em rgba(189, 0, 23, 0.7)
		}
		12.5% {
			-webkit-box-shadow : 0em -2.6em 0em 0em rgba(189, 0, 23, 0.7), 1.8em -1.8em 0 0em #bd0017, 2.5em 0em 0 0em rgba(189, 0, 23, 0.2), 1.75em 1.75em 0 0em rgba(189, 0, 23, 0.2), 0em 2.5em 0 0em rgba(189, 0, 23, 0.2), -1.8em 1.8em 0 0em rgba(189, 0, 23, 0.2), -2.6em 0em 0 0em rgba(189, 0, 23, 0.2), -1.8em -1.8em 0 0em rgba(189, 0, 23, 0.5);
			box-shadow         : 0em -2.6em 0em 0em rgba(189, 0, 23, 0.7), 1.8em -1.8em 0 0em #bd0017, 2.5em 0em 0 0em rgba(189, 0, 23, 0.2), 1.75em 1.75em 0 0em rgba(189, 0, 23, 0.2), 0em 2.5em 0 0em rgba(189, 0, 23, 0.2), -1.8em 1.8em 0 0em rgba(189, 0, 23, 0.2), -2.6em 0em 0 0em rgba(189, 0, 23, 0.2), -1.8em -1.8em 0 0em rgba(189, 0, 23, 0.5)
		}
		25% {
			-webkit-box-shadow : 0em -2.6em 0em 0em rgba(189, 0, 23, 0.5), 1.8em -1.8em 0 0em rgba(189, 0, 23, 0.7), 2.5em 0em 0 0em #bd0017, 1.75em 1.75em 0 0em rgba(189, 0, 23, 0.2), 0em 2.5em 0 0em rgba(189, 0, 23, 0.2), -1.8em 1.8em 0 0em rgba(189, 0, 23, 0.2), -2.6em 0em 0 0em rgba(189, 0, 23, 0.2), -1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2);
			box-shadow         : 0em -2.6em 0em 0em rgba(189, 0, 23, 0.5), 1.8em -1.8em 0 0em rgba(189, 0, 23, 0.7), 2.5em 0em 0 0em #bd0017, 1.75em 1.75em 0 0em rgba(189, 0, 23, 0.2), 0em 2.5em 0 0em rgba(189, 0, 23, 0.2), -1.8em 1.8em 0 0em rgba(189, 0, 23, 0.2), -2.6em 0em 0 0em rgba(189, 0, 23, 0.2), -1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2)
		}
		37.5% {
			-webkit-box-shadow : 0em -2.6em 0em 0em rgba(189, 0, 23, 0.2), 1.8em -1.8em 0 0em rgba(189, 0, 23, 0.5), 2.5em 0em 0 0em rgba(189, 0, 23, 0.7), 1.75em 1.75em 0 0em rgba(189, 0, 23, 0.2), 0em 2.5em 0 0em rgba(189, 0, 23, 0.2), -1.8em 1.8em 0 0em rgba(189, 0, 23, 0.2), -2.6em 0em 0 0em rgba(189, 0, 23, 0.2), -1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2);
			box-shadow         : 0em -2.6em 0em 0em rgba(189, 0, 23, 0.2), 1.8em -1.8em 0 0em rgba(189, 0, 23, 0.5), 2.5em 0em 0 0em rgba(189, 0, 23, 0.7), 1.75em 1.75em 0 0em rgba(189, 0, 23, 0.2), 0em 2.5em 0 0em rgba(189, 0, 23, 0.2), -1.8em 1.8em 0 0em rgba(189, 0, 23, 0.2), -2.6em 0em 0 0em rgba(189, 0, 23, 0.2), -1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2)
		}
		50% {
			-webkit-box-shadow : 0em -2.6em 0em 0em rgba(189, 0, 23, 0.2), 1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2), 2.5em 0em 0 0em rgba(189, 0, 23, 0.5), 1.75em 1.75em 0 0em rgba(189, 0, 23, 0.7), 0em 2.5em 0 0em #bd0017, -1.8em 1.8em 0 0em rgba(189, 0, 23, 0.2), -2.6em 0em 0 0em rgba(189, 0, 23, 0.2), -1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2);
			box-shadow         : 0em -2.6em 0em 0em rgba(189, 0, 23, 0.2), 1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2), 2.5em 0em 0 0em rgba(189, 0, 23, 0.5), 1.75em 1.75em 0 0em rgba(189, 0, 23, 0.7), 0em 2.5em 0 0em #bd0017, -1.8em 1.8em 0 0em rgba(189, 0, 23, 0.2), -2.6em 0em 0 0em rgba(189, 0, 23, 0.2), -1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2)
		}
		62.5% {
			-webkit-box-shadow : 0em -2.6em 0em 0em rgba(189, 0, 23, 0.2), 1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2), 2.5em 0em 0 0em rgba(189, 0, 23, 0.2), 1.75em 1.75em 0 0em rgba(189, 0, 23, 0.5), 0em 2.5em 0 0em rgba(189, 0, 23, 0.7), -1.8em 1.8em 0 0em #bd0017, -2.6em 0em 0 0em rgba(189, 0, 23, 0.2), -1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2);
			box-shadow         : 0em -2.6em 0em 0em rgba(189, 0, 23, 0.2), 1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2), 2.5em 0em 0 0em rgba(189, 0, 23, 0.2), 1.75em 1.75em 0 0em rgba(189, 0, 23, 0.5), 0em 2.5em 0 0em rgba(189, 0, 23, 0.7), -1.8em 1.8em 0 0em #bd0017, -2.6em 0em 0 0em rgba(189, 0, 23, 0.2), -1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2)
		}
		75% {
			-webkit-box-shadow : 0em -2.6em 0em 0em rgba(189, 0, 23, 0.2), 1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2), 2.5em 0em 0 0em rgba(189, 0, 23, 0.2), 1.75em 1.75em 0 0em rgba(189, 0, 23, 0.2), 0em 2.5em 0 0em rgba(189, 0, 23, 0.5), -1.8em 1.8em 0 0em rgba(189, 0, 23, 0.7), -2.6em 0em 0 0em #bd0017, -1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2);
			box-shadow         : 0em -2.6em 0em 0em rgba(189, 0, 23, 0.2), 1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2), 2.5em 0em 0 0em rgba(189, 0, 23, 0.2), 1.75em 1.75em 0 0em rgba(189, 0, 23, 0.2), 0em 2.5em 0 0em rgba(189, 0, 23, 0.5), -1.8em 1.8em 0 0em rgba(189, 0, 23, 0.7), -2.6em 0em 0 0em #bd0017, -1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2)
		}
		87.5% {
			-webkit-box-shadow : 0em -2.6em 0em 0em rgba(189, 0, 23, 0.2), 1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2), 2.5em 0em 0 0em rgba(189, 0, 23, 0.2), 1.75em 1.75em 0 0em rgba(189, 0, 23, 0.2), 0em 2.5em 0 0em rgba(189, 0, 23, 0.2), -1.8em 1.8em 0 0em rgba(189, 0, 23, 0.5), -2.6em 0em 0 0em rgba(189, 0, 23, 0.7), -1.8em -1.8em 0 0em #bd0017;
			box-shadow         : 0em -2.6em 0em 0em rgba(189, 0, 23, 0.2), 1.8em -1.8em 0 0em rgba(189, 0, 23, 0.2), 2.5em 0em 0 0em rgba(189, 0, 23, 0.2), 1.75em 1.75em 0 0em rgba(189, 0, 23, 0.2), 0em 2.5em 0 0em rgba(189, 0, 23, 0.2), -1.8em 1.8em 0 0em rgba(189, 0, 23, 0.5), -2.6em 0em 0 0em rgba(189, 0, 23, 0.7), -1.8em -1.8em 0 0em #bd0017
		}
	}
}

a {
	color : red;
}

a, b {
	width : 100%;
}

a > b {

}